*.un~
.gem/
.gitk
.ssh/
.viminfo
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.*
Pictures/
Saved Games/
Searches/
Videos/
_viminfo
jmvc.bat
node-v*.*
node/
ntuser*.*
yankring*.*
.gitconfig
