ntuser*.*
vim_session
jmvc.bat
NTUSER*.*
AppData
Contacts
Desktop
Documents
Downloads
Favoriates
Links
Music
Pictures
Saved Games
Searches
Videos
Visual.studio.color.settings
yankring_history*.*
;w
*.un~
.bash_history
.gem
*.swp
.gitk
.ssh
Favorites

.bash_history
.gem
*.swp
.gitk
.ssh
Favorites
.gitconfig
_viminfo

