//--------MODULE HEADER----------
(function(GLOBAL) {
"use strict";
//===============================

${1}

//===============================
} (window, (function() {
    return;
} ())));
//===============================
